body{
background-color: black;
}

/* menu */

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
   }
   
   /* items del menu */
   
   #menu ul li {
    background-color:#397be6;
   }
   
   /* enlaces del menu */
   
   #menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
   }
   
   /* items del menu */
   
   #menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }
   
   /* efecto al pasar el ratón por los items del menu */
   
   #menu ul li:hover {
    background:#3b6fc4;
   }
   /* menu desplegable */

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:rgb(236, 231, 231);
    padding:0;
   }
   
   /* items del menu desplegable */
   
   #menu ul ul li {
    float:none;
    width:150px
   }
   
   /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   #menu ul li:hover > ul {
    display:block;
   }

   .video
   {
       font-size: 40%;
       margin-top: 4rem;
       text-align: center;
   }
   .descargas
   {
     text-align: right;
     color: white;
     font-size: 20px;
     padding: 30px 80px 30px 0px;
   }
   .menu1
   {
     text-align: center;
     
   }
   .referecias
   {
     text-align: center;
     background-color:#596264;
   color:white;
   }